[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = git@github.com:hanwenguo/hugo-theme-nostyleplease.git
