{{ with .Params.series }}
  {{ range . }}
    {{ $series := . }}
    {{ $seriesPages := where $.Site.RegularPages "Params.series" "intersect" (slice $series) }}
    <aside class="series-nav">
      <p><strong>Part of series: <a href="{{ "/series/" | relLangURL }}{{ $series | urlize }}/">{{ $series }}</a></strong></p>
      {{ if gt (len $seriesPages) 1 }}
      <ol>
        {{ range $seriesPages.ByDate }}
        <li>
          {{ if eq .Permalink $.Permalink }}
            {{ .Title }} (current)
          {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ol>
      {{ end }}
    </aside>
  {{ end }}
{{ end }}
